<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.ParasoftHybridframework.TestCases.TC_ContactUsLink_001"/>
      <class name="com.ParasoftHybridframework.TestCases.TC_CustomersLink_003"/>
      <class name="com.ParasoftHybridframework.TestCases.TC_Industriesdrp_008"/>
      <class name="com.ParasoftHybridframework.TestCases.TC_SolutionsDrpdwn_004"/>
      <class name="com.ParasoftHybridframework.TestCases.TC_Productsdrp_007"/>
      <class name="com.ParasoftHybridframework.TestCases.TC_SupportLink_005"/>
      <class name="com.ParasoftHybridframework.TestCases.TC_TryParasoftLink_002"/>
      <class name="com.ParasoftHybridframework.TestCases.TC_Languagedrp_006"/>
      <class name="com.ParasoftHybridframework.TestCases.TC_Resourcesdrp_009"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
